/* --------------------CSS reset start -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* --------------------CSS reset end -------------------- */

/* -------------------- Fonts start-------------------- */
/* -------------------- Fonts start-------------------- */
/*fonts:
Open Sans - 300
Open Sans - 400
Open Sans - 600
Open Sans Condensed - 700
Playfair Display - 400

*/

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v23-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v23-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-condensed-700 - latin */
  @font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-condensed-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-condensed-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-condensed-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-condensed-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-condensed-v15-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }
  
  /* playfair-display-regular - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/playfair-display-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playfair-display-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playfair-display-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playfair-display-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playfair-display-v22-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  
   html{
        box-sizing: border-box;
    }
    *,*::before,*::after {
        box-sizing: inherit;
    }
  /* -------------------- Fonts end-------------------- */
  
  /* -------------------- Header start-------------------- */
  .black_bckgrnds{
      /* display: none; */
    position: absolute;
    width: 100%;
    background-color: #0E1B1B;
}


  .header{
    /* background: linear-gradient(green, black); */
    /* opacity: .5; */
    z-index: 1;
    position: relative;
    width: 100%;
    padding-top: 1.6vw;
    padding-bottom: 2.7vw;
    background-color: #0E1B1B !important;
    
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.home_left_pane{
    display: block;
    width: calc(50px + 12vw);
    margin: 0 2.5vw;
 
}
.social_links{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 2vw;
}
.social_link{
    padding: 0 1vw;
}

.home_right_pane{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71.7vw;
    margin: 0 4.1vw 0 0;
}
.brand_with_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_line{
    position: relative;
    z-index: 1;
    width: 24.2vw;
    height: 0px;
    border-bottom: 1px solid rgba(255, 201, 75, 0.8);/*#FFC94B;*/
}
.brand_name{
    color: #FFFFFF;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 2.2vw;
    line-height: 44px;

    position: relative;
    transform: translate(-2vw);
}
.menu_toggle > img{
    width: 3.35vw;
}
/* -------------------- Header end-------------------- */
/* -------------------- Main start-------------------- */
.main{
    width: 100%;
}
.home_section{
    width: 100%;
    height: auto;
}
.home_blackbg{
    /* z-index: 1; */
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* height: calc(30px + 36vw); */
    /* height: clamp(50px, 38vw,  80vh); */
    /* height: calc(auto + 4.1vw);  */
    height: 44.8vw;
    background-color: #0E1B1B;
}
.main_wrapper{
    /* position: absolute; */

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* padding-right: 3vw; */
}
.home_slider{
    /* width: 71.7vw; */
    flex: 3 3 722px;
    /* margin: 0 4.1vw 0 0; */
    margin-right: 4.1vw;
    overflow: hidden;
}
/* TODO: */
.home_pic{
    position: relative;
    width: 100%;
}
.main_caption{
    flex: 1 1 230px;

}
.main_logo{
    /* position: absolute; */
    margin-top: -10px;
    margin-left: 45px;
    opacity: 0;
}
.main_logo_pic{
    width: 100%; /*300px; */
    height: auto; /*239px;*/
}
/* .main_title_div{
    position: relative;
    z-index: 1;
    left: 6.79vw;
    margin-top: 10.6vw;
} */
.main_title{
    position: relative;
    z-index: 1;
    /* width: 0px; */
    left: 6.79vw;
    margin-top: 10.6vw;

    font-family: "Playfair Display";
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 5.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.slider_nav{
    position: relative;
    /* outline: 2px dotted green;*/
    display: block;
    margin: 5.5vw auto 0;
    width: calc(50px + 16vw);
    left: 4.1vw;
}
.slider_nav > div{
    /* margin: 30px; */
    /* white-space: nowrap; */
    text-decoration: none;
}

.slider_nav p{
    font-family: "Open Sans";
    font-size: calc(12px + 0.42vw);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFC94B;

    display: inline-block; 
    margin: 0 12px
    /* flex: 0 1 10px; */
}
.slider_nav_next{
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    /* margin-left: 69px; */
}
.slider_nav_prev{
    display: flex;
    align-items: center;
    margin-left: 2.8vw;
}
.slider_nav_line{
    position: relative;
    width: 5.4vw;
    display: inline-block; 
    height: 1px;
    background-color: rgba(255, 201, 75, 1);/*#FFC94B;*/
    top: 50%;
    margin: auto 0;
}
.about_section{
    border: 0;
    margin-bottom: 14.6vw;
    
}
.about_blackbg{
    z-index: 0;
    position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    top: 0px;
    width: 90.55%;
    height: 45vw;
    background-color: #070F0F;
}
.about_pic_div{
    position: relative;
    flex: 0.278 0.278 296;
    border: 0;
    height: 95%;
    top: 8.05vw;
}
.about_pic{
    position: relative;
    z-index: 1;
    border: 0;
    height: 100%;
}
.about_content_wrapper{
    position: relative;
    /* flex: 1 1 627px; */
    bottom: 0px;
    padding: 15.85vw 3.85vw 4.3vw 3.85vw;
}
.about_content{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
}
.about_content h2, .about_content p, .about_content button {
    position: relative;
    z-index: 2;
}
.abt_ttl_with_line{
    position: relative;
    z-index: 1;
    display: flex;
    justify-items: stretch;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(-2.7vw, 0px);

    margin-bottom: 2.75vw;
    width: 100%;
}
/* .about_title, .about_title_line{
    transform: translate(-271px, 0px);
} */
.about_title{
    font-family: "Playfair Display";
    font-size: clamp(40px, 4.12vw, 65px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    
    display: flex;
    flex-wrap: wrap;
    align-items: centerc;
    white-space: nowrap;
    flex: 1;
    /* margin: 0 1.5vw 0 0; */
    transform: translate(-271px, 0px);
    overflow: visible;
}


.about_title::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 63%;
    right: 0;
    height: 0.5em;
    border-top: 3px solid #FFC94B;
    z-index: -1;
    width: 20.9vw;
    /* min-width: 500px; */
}
.about_smalltxt{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;

    margin-bottom: 2vw;
}

.about_mediumtxt{
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #6B6B6B;
    /* color:rgb(14, 13, 13); */
    /* text-shadow: -1px 1px rgb(14, 13, 13); */

    margin-bottom: 3.4vw;
}
.yellow_btn{
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    text-decoration-color: #bf9738;

    border-radius: 0%;
    position: relative;
    z-index: 1;
    width: 170px;
    height: 45px;
    background: #FFC94B;
    border: 0;
}
.about_rdmbtn:hover{
    /* text-decoration: underline; */
    background: rgba(255, 201, 75, 0.8);
}
.work_section{
    position: relative;
    /* margin-bottom: 138px; */
    margin: 0 20px 138px 20px;
}

.work_title_div{
    width: 100%;

}
/* .wrk_ttl_with_line{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: flex-start;
    align-content: center;
    padding: 0px 14.9vw;

} */
.work_title{
    font-family: "Playfair Display";
    /* font-size: 60px; */
    font-size: clamp(16px, 8vw,60px);

    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(14, 27, 27, 1);
    /* background: transparent url(../img/svg/workTitleLine.svg) no-repeat left center; */
    background-size: 305px;
    border: 0;
    margin-bottom: 26px;
    /* padding-left: 325px; */
}
.work_title::after{
    position: relative;
    display: inline-block;
    background-color: rgba(14, 27, 27, 1);
    content:"";
    /* right: 0; */
    height: 3px;
    /* z-index: 10; */
    width: 300px;
    vertical-align: middle;
    flex: 1 1 300px;
}
.work_title_notetxt{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(14, 27, 27, 1);

    padding-left: 135px;
}

.work_sldr_and_Cptn{
    display: flex;
    /* display: inline-block; */
    /* flex: 1; */
    align-items: flex-end;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-right: 0px;
}

.work_slider{
    /* float: left; */
    position: relative;
    /* display: flex; */
    padding: 15px;
    /* width: 75%; */
    flex: 1.1 1.1 627px;

}  
.wrk_imgOneAndcntr{ 
    position: relative;
    margin-top: 48px; /*TODO: make it percents*/
    display: block;
    float: left;
    width: 45.7%;
}

.wrk_imgOneAndcntr p{
    font-family: "Open Sans";
    font-size: 7.7vw;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: rgba(14, 27, 27, 0.1);
    
    margin-bottom: 8.5%;
}

.worksldr_imgone_pic{
    position: relative;
    z-index: 1;
    width: 100%;
}
.worksldr_imgtwo_div{
    position: absolute;
    top: 12.5%;
    right: 2.7%;
    width: 62.1%;
    /* transform: translate(-30.1%); */
}
.worksldr_imgtwo_pic{
    width: 100%;

}
/* .wrk_vwcbtn_div{
    position: absolute;
    width: 100%;
    height: 100%;
} */
.work_vwcbtn{
    font-size: clamp(14px, 2vw, 20px);
    position: absolute;
    /* align-self: flex-end; */
    margin-left: 4.7vw;
    bottom: 2.89%;
    width: calc(70px + 7vw);
    height: calc(25px + 1.4vw);
    /* width: 18.6%;
    min-width: 100px;
    height: 8.1%;
    min-height: 26px; */
    white-space: nowrap;
}
.work_cptn{
    position: relative;
    display: block;
    height: 100%;
    flex: 1 1 326px;
}
.work_cptn_txtDiv{
    position: relative;
    margin-bottom: 14.4vw;
    margin-left: 1.55%;
}
.work_slider_link{
    text-decoration: none;
    /* display: none; */
}
.worksldr_cptnTtl{

    font-family: "Playfair Display";
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    color: #0E1B1B;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    margin-bottom: 6%;
    margin-right: 29.9%;
}
.work_slider_txt{
    color: #0E1B1B;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(13px + 0.2vw);
    
    line-height: 22px;
    color: #0E1B1B;
    width: 100%;
    max-width: 420px;
    }

.work_sldr_nav{
    position: absolute;
    display: block;
    bottom: 1.8%;
    right: 34%;
}
.work_sldr_next{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #0E1B1B;
    text-decoration: none;

    position: relative;
    background: transparent url(../img/svg/work_nav_line.svg) no-repeat left center;
    padding-left: 90px;
    margin-bottom: 24.8%;
}
.work_sldr_prev{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #0E1B1B;
    text-decoration: none;
    
    position: relative;
    background: transparent url(../img/svg/work_nav_line.svg) no-repeat right center;
    padding-right: 90px;
    transform: translate(50px);    
}



/* -------------------- Why Us start-------------------- */
.whyus_section{
    clear: left;
    /* padding-left: 100px; */
    padding-right: 6.95vw;
    position: relative;
    height: auto;
    margin-top: 0;
    margin-bottom: 126px;
}
.whyus_wrapper{
    position: relative;
    padding: 0 0;
    height: 509px;
}
.whyus_content{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* width: 1240px; */
    height: 367px;
    /* height: 100%; */
    margin: 0 auto;
}
.whyus_blackbg{
    position: relative;
    /* display: flex;
    align-items: flex-end; */
    /* flex-wrap: nowrap; */
    /* justify-items: space-around; */
        /* right: 0; */
    /* left: auto; */
    width: 72.2vw;
    height: 25.5vw;
    background-color: #0E1B1B;
}
.whyus_text_div{
    position: absolute;
    display: inline-block;

    width: 100%;
    top: 3vw;
    padding: 0px 2.4vw;

}

.whyus_text_div h2{
    font-family: "Playfair Display";
    font-size: calc(24px + 2.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: calc(28px + 2.5vw);
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    margin-bottom: 2.2vw;
    /* margin-left: 200px; */
}
.whyus_text_div h2:before{
    content: "";
    border-top: 3px solid white;
    width: 21.2vw;
    margin-right: 1.4vw;
}
.whyus_p_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.whyus_text_div p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: calc(12px + 0.28vw);
    line-height: calc(16px + 0.45vw);
    color: #C4C4C4;

    flex: 1 0 68.02%;
    margin-left: 13.9vw;
    vertical-align: top;
}
.whyus_p_dummy{
    flex: 0 0 76px ;
}
.whyus_pros{
    position: relative;
    display: inline-block;
    /* flex:  0 0 700px; */
    flex-wrap: nowrap;
    /*justify-content: flex-start;
    align-items: flex-end; */
    width: 100%;    
    padding-left: 15.4vw;
}
.whyus_pros_icon{
    position: relative;
    padding: 0;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.1);
    margin: 0px 0.91vw;
    transform: translatey(-41.6%);
    width: 11.8vw;
    
}
.yellow_sqr{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    /* flex: 0 0 370px; */
    width: 25.7vw;
    height: 24.5vw;
    padding: 0.7vw 2.5vw 0.7px;
    background: #FFC94B;
    left: -13.9vw; 
    bottom: -10.8vw;
}

.yellow_sqr p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: calc(11px + 0.28vw);
    line-height: calc(16px + 0.45vw);
    text-align: center;

    /* Dark */

    color: #0E1B1B;
}
/* -------------------- Why Us end-------------------- */

/* -------------------- Blogs start-------------------- */
.blogs_section{
    position: relative;
    height: 509px;
    margin-bottom: 223px;
} 
.blogs_wrapper{
    position: relative;
    /* padding: 100px 0; */
}
.blogs_content{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 85.8vw;
    height: 100%;
    /* margin: 0 auto; */
}
.blogs_blackbg{
    position: relative;
    /* display: flex;
    justify-content: space-around; */
    width: 100%;
    height: 30.9vw;
    right: 0;
    left: auto;
    background-color: #0E1B1B;
}
.blogs_title{
    position: absolute;
    /* width: 680px; */
    top: 3.2vw;
    left: 0;
}
.blogs_title h2{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    /* background: transparent url(../img/svg/white_line.svg) no-repeat left center; */
    /* padding-left: 325px; */
    
    /* transform: translate(-25%); */
}
.blogs_title h2:before{
    content: "";
    border-top: 3px solid white;
    width: 18.7vw;
    margin-right: 1.4vw;
}
.blogs_cards{
    position: relative;
    left: 0.35vw;
    bottom: -2.55vw;
    display: flex;
    /* display: inline-block; */
    flex-wrap: nowrap;
    flex-direction: row;
    justify-items: flex-end;
    align-items: flex-end;
    width: 97.1%;    
    transform: translate(114px);
    
}
.blog_card{
    /* display: inline-block; */

    position: relative;
    flex: 0 0 25.7vw; 
    transform: translatey(37%);
    /* height: 33.8vw; */
    /* width: 10vw; */
    margin: 0 auto;
    /* margin-bottom: 100px; */
}
/* .blog_pic {
    width: 100%;
    position: relative; 
} */

.blog_pic > img{
    /* display: none; */
    width: 100%;

    /* position: relative; */
}

.blog_label{
    position: absolute;
    display: flex;
    background-color: #FFC94B;
    top: 1.75vw;
    left: 1.2vw;
    /* margin: 24px 17px; */
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 73px;
}
.blog_label p{
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    position: relative;
}
.blog_cptn{
    position: absolute;
    height: 6.74vw;
    width: 23.3vw;
    background-color: #0E1B1B;
    left: 1.2vw;
    transform: translatey(-58%);
    padding: 1.18vw;
}
.blog_cptn p{
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 1.67vw;
    line-height: 2.2vw;
    text-align: center;
    color: #FFFFFF;
}
.clients{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;

    /* justify-items: space-between; */
    /* grid-template-columns: 50% 50%; */
    /* grid-template-columns: repeat(auto-fill, 570px);
    gap: 60px; */
    padding: 0 6.9vw;
    margin-bottom: 118px;
}
.clients_icons_div img{
    margin: 0 2.1vw;
}

.clients_title_div h2{
    position: relative;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: clamp(45px,5.5vw,60px);

    line-height: 80px;
    color: #0E1B1B;
    /* right: 1.85vw; */
    top: -0.4vw;
    white-space: nowrap;
    margin-left: 2vw;
    
}
.clients_title_div h2:after{
    /* z-index: 1; */
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: "";
    border-top: 3px solid black;
    transform: translateY(-0.6vw);
    width: 305px;
    margin-left: 1vw;
    /* background: transparent url(../img/svg/black_line.svg) no-repeat left center; */
    /* width: 50%;*/
    /* margin-left: 100px; */
    /* height: 5px; */
}
/* -------------------- Blogs end-------------------- */

/* -------------------- Footer start-------------------- */
.theFooter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    /* display: grid; */
    /* grid-template-columns: 3.6vw 24.3vw 1px 22vw auto auto;  */
    /* grid-template-columns: repeat(auto-fit, minmax(3.6px,1fr)); */
    background-color: #0E1B1B;
    min-height: 13.9vw;
    height: auto;
}
.ftr_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.copyright_div{
    /* width: vw; */
    /* height: 100%; */
}
.theFooter p{  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: clamp(11px, 1.1vw, 1.2em);
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;

    position: relative;
    /* top: 50%; */
    left: 50%;
    transform:  translateX(-80%)  rotate(-90deg);
    /* width: 3.5vw; */
}
.theFooter a{
    white-space: nowrap;
    flex: 1 1 100px;
}
.ftr_brand_with_line{
    display: flex;
    /* align-items: center; */
    /* grid-column: 2 / span 6; */

}
/* .footer_line{
    z-index: 1;
    width: 213px;
    height: 0px;
    border-bottom: 1px solid rgba(255, 201, 75, 0.8);
} */
.ftr_brand_with_line h3{
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: clamp(18px, 2.2vw, 2.5em);
    line-height: 44px;
    color: #FFFFFF;
}
.ftr_brand_with_line h3:before{
    /* z-index: 1; */
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: "";
    border-top: 1px solid #FFC94B;
    width: 14.8vw;
    margin-right: -2.1vw;
    transform: translatey(-0.36vw);
    
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vert_line{
    height: 86px;
    width: 0;
    border-right: 1px solid #FFFFFF;
    margin-left: 3.2vw;
}
.footer_txt{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 1.25vw, 1.5em);

    line-height: 25px;
    color: #FFFFFF;
    margin-left: 3.5vw;
    padding-left: 30px;
}
.email_div{
    /* justify-self: center; */
    /* grid-column: 9 / span 6; */
}
.email_div a{
    
    background: transparent url(../img/svg/email_icon.svg) no-repeat left center;
}
.phone_div{
    /* grid-column: 16 / span 4; */

}
.phone_div a{
    background: transparent url(../img/svg/phone_icon.svg) no-repeat left center;
}
.location_div{
    justify-self: start;
    /* grid-column: 21 / span 5; */

}
.location_div a{
    background: transparent url(../img/svg/location_icon.svg) no-repeat left center;
}
/* -------------------- Footer end-------------------- */

/* -------------------- Main end-------------------- */
  

/* -------------------- Outlines start-------------------- */
/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */
/* -------------------- Outlines end-------------------- */
 
@media only screen and (max-width: 992px){
    .home_blackbg{
        height: 57vw; /* + 5vw);*/
        overflow: visible;
        /* margin-bottom: 5vw; */
    }
    .home_slider{
        margin-right: 0px;
    }
    .home_pic_div{
        z-index: 1;
        position: relative;
        padding: 0px 5vw;
        /* top: 100px; */

        /* max-height: 100vh; */
    }
    .home_pic{
        z-index: 1;
        position: relative;
    }
    .main_caption{

        /* display: none; */
        position: absolute;
        z-index: 1;
    }
    .slider_nav{
        display: none;
    }
    .about_section{
        /* z-index: -1; */
        /* top: 65%; */
        width: 100vw;
        /* margin: 0px auto */
        margin-bottom: 16vw;

    }
    .about_blackbg{
        flex-wrap: wrap-reverse;
        width: 100%;
        height: 100%;
        /* background-color: #0E1B1B; */
        padding-top: 50px;
    }
    .about_pic_div{
        /* margin: auto; */
        height: 90vw;
        width: 80vw;
        overflow: hidden;
        /* position: absolute; */
        left: 50%;
        transform: translate(-50%);
    }
    .about_pic{
        width: 100vw;
        object-fit: cover;
    }
    .about_content_wrapper{
        padding: 2vw 1.5vw 0 1.5vw;
        position: absolute;
        transform: translate(-50%);
        z-index: 1;
        left: 50%;
        top: 40%;        
    }
    .about_frame{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        background-color: black;
        opacity: 0.5;
        filter: blur(70px);
        width: 75vw;
        height: 125%;
    }
    .about_content{
        justify-content: center;
        /* margin: 0 2vw; */
        padding: 0 2vw;
    }
    .abt_ttl_with_line{
        margin: 0;
    }
    .about_title{
        font-size: 7vw;
        display: inline-block;
        transform: unset;
        text-align: center;
    }
    .about_title::after{
        display: block;
        width: 60vw;
        position: unset;
        margin: 3vw auto 0;
    }
    .about_content_wrapper{
        width: 100%;
        margin: 0 auto 5vw;

    }
    .about_content{
        display: inline-block;
        width: 100%;
    }
    .about_content p{
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;  
        white-space: nowrap;
        width: 70vw;
    }
    .about_smalltxt{
        margin: 0 auto 2vw;
        font-size: clamp(13px, 3.3vw, 16px);
        line-height: clamp(16px, 5vw, 22px);
        width: 60vw !important;
    }
    .expand_text{
        text-align: left !important;
        white-space: unset !important;
    }
    #abmt{
        margin: 0 auto 5vw;
        text-align: center;
        white-space: unset;
        color: grey;
        font-size: clamp(16px, 5vw, 28px);
        line-height: clamp(18px, 6.5vw, 37px);

    }
    .about_rdmbtn{
        font-size: clamp( 12px, 4vw, 18px);;
        background: #FFC94B;
        border: 0;
        left: 50%;
        transform: translatex(-50%);
        width: 37vw;
        max-width: 170px;
        height: 12vw;
        max-height: 45px;
    }
    .wrk_ttl_with_line{
        display: flex;
        align-content: center;
        padding: 0px 14.9vw;
    
    }
    .work_title{
        text-align: center;
        /* font-family: "Playfair Display";
        font-size: clamp(16px, 8vw,60px);
        font-style: normal;
        font-weight: 400;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(14, 27, 27, 1);
        background-size: 305px;
        border: 0;*/
        margin-bottom: 0px; 
        line-height: 0.7em;
    }
    .work_title::after{
        position: relative;
        display: inline-block;
        background-color: rgba(14, 27, 27, 1);
        content:"";
        /* right: 0; */
        height: 3px;
        /* z-index: 10; */
        width: clamp(50px, 48vw, 300px);
        vertical-align: middle;
        flex: 1 1 300px;
        margin: 0px;
    }

    .work_title_notetxt{
        padding: 2vw;
        margin: 0px auto;
    }
    .work_vwcbtn{
        display: none;
        width: 18.6%;
        min-width: 100px;
        height: 8.1%;
        min-height: 26px;
    }
    .work_slider_link{
        display: block;
        position: absolute;
        
        
    }
    .worksldr_cptnTtl{
        text-decoration: none;
        position: absolute;
        /* left: 50%; */
        /* top: -17vw; */
        text-align: start;
        font-size: clamp(19px, 3vw, 29px);
    }
    .worksldr_cptnTtl:hover{
        text-decoration: underline;
    }
    .work_slider_txt{
        position: absolute;
        /* left: 50%;*/
        top: 3.5em; 
        width: 17em;
        height:1.52em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: clamp(12px, 2vw, 22px);
        line-height: calc(18px + 1vw);
    }
    .work_sldr_nav{
        display: none;
    }
    .clients{
        /* display: block; */
        text-align: center;
    }
    .clients_title_div{
        margin: 0 50vw;
    }
    .clients_title_div h2{
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: normal;
        line-height: 80px;
        color: #0E1B1B;

        position: relative;
        display: block;
        top: -0.4vw;
        white-space: nowrap;
        
    }
    .clients_title_div h2:after{
        flex: 1 1 305px;
        position: relative;
        content: "";
        border-top: 3px solid black;
        display: block;
        margin-top: 1vw;
    }
    .theFooter p{
    transform:  unset;

    }
    .copyright_div{
        transform:  translateX(-30%)  translateY(200%)  rotate(-90deg);
        width: 10vw;
    }
    .ftr_brand_with_line h3{
        margin-right:100px;
    }
    .vert_line{
        display: none;
    }

}
