/* --------------------CSS reset start -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* --------------------CSS reset end -------------------- */

/* -------------------- Fonts start-------------------- */
/* -------------------- Fonts start-------------------- */
/*fonts:
Open Sans - 300
Open Sans - 400
Open Sans - 600
Open Sans Condensed - 700
Playfair Display - 400

*/

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v23-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v23-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v23-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v23-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-condensed-700 - latin */
  @font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-condensed-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-condensed-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-condensed-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-condensed-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-condensed-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-condensed-v15-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }
  
  /* playfair-display-regular - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/playfair-display-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playfair-display-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playfair-display-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playfair-display-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playfair-display-v22-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  
   html{
        box-sizing: border-box;
    }
    *,*::before,*::after {
        box-sizing: inherit;
    }
  /* -------------------- Fonts end-------------------- */
  
  /* -------------------- Header start-------------------- */
  .black_bckgrnds{
    position: absolute;
    width: 100%;
    height: 94vh;
    /* height: 747px; */
    background-color: #0E1B1B;
}
.main_blackbg{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    width: 100%;
    height: 94vh;
    background-color: #0E1B1B;
}
.about_blackbg{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 89.7%;
    height: 70vh;
    background-color: #070F0F;
}
  .header{
    /* background: linear-gradient(green, black); */
    /* opacity: .5; */
    z-index: 1;
    position: relative;
    width: 100%;
    padding-top: 2.85vh;
}
.header_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey !important; */
    /* opacity: 0.3; */
    width: 100%;

}
.home_left_pane{
     display: block;
    /*justify-content: center; */

    /* border: 1px solid rgb(42, 106, 165); */
    
    /* background-color: grey !important; */
    width: 20%;
}
.social_links{
    display: flex;
    justify-content: center;
    width: 100%;
}
.social_link{
    padding: 0 1vw;
}
.brand_name{
    z-index: -1;
    position: relative;
    transform: translate(-29px);
    color: #FFFFFF;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

}
.home_right_pane{
    /* border: 1px solid rgb(233, 27, 27); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: salmon !important; */
    width: 70%;
}
.brand_with_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_line{
    width: 355px;
    height: 0px;
    left: 335px;
    border-bottom: 1px solid rgba(255, 201, 75, 0.8);/*#FFC94B;*/
}
/* .menu_toggle{

} */
/* body{
    background-color: skyblue !important;
    border: 1px solid red;
} */

/* -------------------- Header end-------------------- */
/* -------------------- Main start-------------------- */


.main{
    width: 100%;
}
.home_section{
    width: 100%;
    height: 100vh;
}

.main_wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.main_logo{
    position: relative;
    margin-top: -10px;
    margin-left: 45px;
    opacity: 0;
}
.main_logo_pic{
    width: 100%; /*300px; */
    height: auto; /*239px;*/
}
.main_title_div{
    position: relative;
    z-index: 1;
    margin-left: 37%;
}
.main_title{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.slider_nav{
    position: relative;
    /* outline: 2px dotted green;
    background-color: red; */
    display: inline-block;
    margin-top: 9.5vh;
    width: 80%;
    height: 20px;
    height: auto;
}
.slider_nav  a{
    margin: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.slider_nav  p{
    padding: 0 20px;

}

.slider_nav_txt{
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFC94B;
}
.slider_nav_line{
    width: 105px;
    height: 0px;
    border-bottom: 1px solid rgba(255, 201, 75, 0.8);/*#FFC94B;*/
    /* transform: rotate(90deg); */
}
.main_pic_div{
    width: auto;
    padding-top: 4.65vh;
}

.home_pic{
    position: relative;
    width: 100%;
}

.about_section{
    display: flex;
    justify-content:space-between;
    width: 89.7%;
    height: 75vh;
    border: 0;
}
.about_pic_div{
    width: auto;
    border: 0;

}
.about_pic{
    position: relative;
    z-index: 1;
    width: 38.7vw;
    border: 0;

}
.about_content{
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    position: relative;
    width: 100%;
}
.about_content h2, .about_content p, .about_content button {
    position: relative;
    z-index: 2;
    margin: 23px 50px;
}
.abt_ttl_with_line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.about_title, .about_title_line{
    transform: translate(-225px, 90px);

}
.about_title{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
}
.about_title_line{
    position: relative;
    z-index: 1;
    width: 275px;
    height: 0px;
    border-bottom: 2px solid #FFC94B;
}

.about_smalltxt{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
}

.about_mediumtxt{
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #6B6B6B;

}
.yellow_btn{
    position: relative;
    z-index: 1;
    width: 170px;
    height: 45px;
    background: #FFC94B;
    border: 0;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.about_rdmbtn:hover{
    /* text-decoration: underline; */
    background: rgba(255, 201, 75, 0.8);
}
.work_section{
    /* margin-bottom: 138px; */
    margin: 0 20px 138px 20px;
}

.work_title_div{
    width: auto;
}
.work_title{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(14, 27, 27, 1);
    background: transparent url(../img/svg/workTitleLine.svg) no-repeat left center;
    background-size: 305px;
    border: 0;
    margin-bottom: 26px;
    padding-left: 325px;
}

.work_title_notetxt{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(14, 27, 27, 1);

    padding-left: 135px;
}
.work_slider_div{
    /* display: flex; */

}
.work_slider{
    float: left;
    position: relative;
    display: flex;
    padding: 15px;
    width: 55%;
}  
.wrk_imgOne-cntr{
    display: block;
    flex-direction: column;
    /* justify-content: flex-end;  */
    align-items: center;
    width: 45%;
}

.worksldr_cntr{
    font-family: "Open Sans";
     font-size: 6.3vw;/*120px; */
    font-style: normal;
    font-weight: 300;
    line-height: 163px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(14, 27, 27, 0.1);
    margin-left: 32.6%;
    margin-bottom: -10px;
}
.worksldr_imgone_div{
    position: relative;
    z-index: 1;
    justify-self: flex-start;
    align-self: flex-end;
    width: 100%;
}
.worksldr_imgone_pic{
    width: 268%;
}
.worksldr_imgtwo_div{
    justify-self: flex-start;
    align-self: flex-end;
    width: 170%;
    padding-bottom: 11.4%;
    transform: translate(27%);
}
.worksldr_imgtwo_pic{
    width: 100%;

}
.wrk_vwcbtn_div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.work_vwcbtn{
    position: absolute;
    /* align-self: flex-end; */
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-left: auto; 
    margin-right: auto; 
    transform: translate(41px);
}
.work_slider_cptn{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    width: 45%;
}
.worksldr_cptnTtl{
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}
.work_slider_txt{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #0E1B1B;
    width: 100%;
    }

    /* .work_sldr_nav{
    backgrozund: transparent url(../img/svg/work_nav_line.svg) no-repeat;
    } */
    .work_sldr_next{
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #0E1B1B;
        text-decoration: none;

        background: transparent url(../img/svg/work_nav_line.svg) no-repeat left center;
        padding-left: 90px;
    }
    .work_sldr_prev{
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #0E1B1B;
        text-decoration: none;
        
        background: transparent url(../img/svg/work_nav_line.svg) no-repeat right center;
        padding-right: 90px;
        
    }



/* -------------------- Why Us start-------------------- */
.whyus_section{
    clear: left;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    height: auto;
    margin-top: 0;
    margin-bottom: 126px;
}
.whyus_wrapper{
    position: relative;
    padding: 0 0;
    height: 509px;
}
.whyus_content{
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* width: 1240px; */
    height: 100%;
    margin: 0 auto;
}
.whyus_blackbg{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 1040px;
    height: 367px;
    right: 0;
    left: auto;
    background-color: #0E1B1B;
}
.whyus_text{
    position: absolute;
    width: 600px;
    top: 35px;

}
.whyus_text h2{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

    background: transparent url(../img/svg/white_line.svg) no-repeat left center;
    padding-left: 325px;
    /* transform: translate(-25%); */
}
.whyus_text p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
}
.whyus_pros{
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;    
}
.whyus_pro1{
    padding: 0;
    margin: 0;
}
.whyus_pros_icon{
    position: relative;
    transform: translatey(50%);
}
.yellow_sqr{
    position: absolute;
    display: flex;
    align-items: center;

    width: 370px;
    height: 354px;
    padding: 39px;
    background: #FFC94B;
    left: 0;
    bottom: 0;
}

.yellow_sqr p{
    text-align: center;
}
/* -------------------- Why Us end-------------------- */

/* -------------------- Blogs start-------------------- */
.blogs_section{
    /* padding-left: 100px;
    padding-right: 100px; */
    position: relative;
    height: 509px;
    margin-bottom: 226px;
}
.blogs_wrapper{
    position: relative;
    /* padding: 100px 0; */
}
.blogs_content{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 1240px;
    height: 100%;
    /* margin: 0 auto; */
}
.blogs_blackbg{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 1236px;
    height: 445px;
    right: 0;
    left: auto;
    background-color: #0E1B1B;
}
.blogs_text{
    position: absolute;
    width: 680px;
    top: 35px;

    left: 0;
}
.blogs_text h2{
    font-family: "Playfair Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

    background: transparent url(../img/svg/white_line.svg) no-repeat left center;
    padding-left: 325px;
    
    /* transform: translate(-25%); */
}
.blogs_cards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;    
    transform: translate(69px);
    
}
.blog_card{
    position: relative;
    transform: translatey(50%);
    height: 488px;
    width: 370px;
    margin: 0 auto;
    /* margin-bottom: 100px; */
}
.blogs_pic{
    position: relative;
}

.blog_label{
    position: absolute;
    display: flex;
    background-color: #FFC94B;
    top: 0px;
    margin: 24px 17px;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 73px;
}
.blog_label p{
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    position: relative;
}
.blog_cptn{
    position: absolute;
    height: 97px;
    width: 336px;
    background-color: #0E1B1B;
    margin: 0 17px;
    transform: translatey(-50%);
    padding: 17px;
}
.blog_cptn p{
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.clients{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(auto-fill, 570px);
    grid-gap: 60px;
    /* justify-content: flex-start; */
    padding: 0 100px;
    margin-bottom: 118px;
}

.clients_title_div{
    display: flex;
    align-items: center;
}
.clients_title_div h2{
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    color: #0E1B1B;

    white-space: nowrap;
    margin-right: 15px;;
}
.clients_txtline{
    background: transparent url(../img/svg/black_line.svg) no-repeat left center;
    width: 50%;
    /* margin-left: 100px; */
    height: 5px;
}
/* -------------------- Blogs end-------------------- */

/* -------------------- Footer start-------------------- */
.theFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    /* display: grid; 
    grid-template-columns: auto auto auto auto auto; */
    background-color: #0E1B1B;
    height: 200px;
}

.theFooter p{  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
}
.footer_brand-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-right: 1px solid rgba(255, 201, 75, 0.8); */

}
.footer_line{
    z-index: 1;
    width: 213px;
    height: 0px;
    border-bottom: 1px solid rgba(255, 201, 75, 0.8);/*#FFC94B;*/
}
.footer_brand-line h3{
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    transform: translate(-31px);
}
.vert_line{
    height: 86px;
    width: 0;
    /* background-color: # */
    border-right: 1px solid #FFFFFF;
    /* transform: rotate(90deg); */
}
.footer_txt{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 35px;
}

.email_div a{
    background: transparent url(../img/svg/email_icon.svg) no-repeat left center;
}
.phone_div a{
    background: transparent url(../img/svg/phone_icon.svg) no-repeat left center;
}

.location_div a{
    background: transparent url(../img/svg/location_icon.svg) no-repeat left center;
}
/* -------------------- Footer end-------------------- */

/* -------------------- Main end-------------------- */
  

/* -------------------- Outlines start-------------------- */
/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */
/* -------------------- Outlines end-------------------- */
